#question-field{
    border: 2px solid;
    font-family: 'Raleway', sans-serif;
}
.question{
    width: 400px;
    font-family: 'Raleway', sans-serif;
}
.correct{
    width: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#quizTitle{
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #f3f3f3;
}